@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>About Us</title>
    <link href="/Content/About/css/about.css" rel='stylesheet' type='text/css' media="all">
    <style>
        .social-media {
            padding-top: 10px;
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <!-- Facebook share code starts -->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Facebook share code ends -->
    <!--About -->
    <div class="about" id="about">
        <div class="container">
            <div class=" welcome-left-left">
                <h2>Why We Are</h2>
                <p>
                    Sometimes eating healthy just means making a substitute in your favorite recipe.
                    <br />Here we share everything from healthy snacks to meals to desserts and we hope you'll give them a try!

                    We also invite you to share your healthy favorites with us by sending them to Healthy Recipes.
                    <br />Feel free to include a story and a mouth-watering photo if you have one. Be sure to check out the recipes below. Your's might be our latest selection!

                    Here's to happy, healthy eating.
                </p>
            </div>
            <div class="col-md-7 about-left-info">
                <div class="abut-mid-info">
                    <h3>What We Make Special For you</h3>
                    <p>
                        For nearly 160 years, the Recipe World of the Triangle has strengthened the very foundations of the community we serve.
                        We’re proud of our diverse community and are passionate about being a positive force for good.
                    </p>
                </div>
                <div class="about-list">
                    <div class="white-shadow">
                        <div class=" col-md-3 col-sm-3 col-xs-3 about-num-left">
                            <h6>1</h6>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 abbr-info">
                            <h4>Over the years, we’ve made changes to meet the needs of our growing community.</h4>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="white-shadow">
                        <div class=" col-md-3 col-sm-3 col-xs-3 about-num-left">
                            <h6>2</h6>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 abbr-info">
                            <h4>The Recipe World of the Triangle is a private nonprofit organization governed by a local board of volunteer directors. </h4>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="white-shadow">
                        <div class=" col-md-3 col-sm-3 col-xs-3 about-num-left">
                            <h6>3</h6>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 abbr-info">
                            <h4>We're committed to nurturing the potential of children through Youth Development. </h4>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 abut-right-side">
                <h5></h5>
            </div>
        </div>
    </div>
    <!--//About -->
    <!--team-->
    <div class="social-wthree-icons bnragile-icons icon-border dribbble">
        <div class="team" id="team">
            <div class="container">
                <h3 class="title">Our Team</h3>
                <div class="team-us">
                    <div class="col-sm-4 col-xs-4 team-grid">
                        <div class="team-members">
                            <div class="team-avatar">
                                <img src="/Content/About/images/t1.jpg" class="img-responsive" alt="team">
                            </div>
                            <div class="team-desc">
                                <h4>Valini</h4>
                                <p>Developer</p>
                                <div class="team-icons">
                                    <ul>
                                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-rss"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-4 team-grid">
                        <div class="team-members">
                            <div class="team-avatar">
                                <img src="/Content/About/images/t2.jpg" class="img-responsive" alt="team">
                            </div>
                            <div class="team-desc">
                                <h4>Suim</h4>
                                <p>Director</p>
                                <div class="team-icons">
                                    <ul>
                                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-rss"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-4 team-grid">
                        <div class="team-members">
                            <div class="team-avatar">
                                <img src="/Content/About/images/t3.jpg" class="img-responsive " alt="team">
                            </div>
                            <div class="team-desc">
                                <h4>Anita</h4>
                                <p>Developer</p>
                                <div class="team-icons">
                                    <ul>
                                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-rss"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!--//team-->
</body>
